.Products {
    height: 100vh;
    background-color: #b89f7a;
}

.RowProducts {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.ProductContainer  {
    width: 50%;
    height: 100%;
}

.First {
    background-color: #B8AE85;
}

.Second {
    background-color: #FFAFA7;
}

.Third {
    background-color: #E3AAE8;
}

.Fourth {
    background-color: #BFB2FF;
}