.Headroom {
    background-color: #b89f7a;
}

.Toolbar {
    height: 100px;
    background-color: #b89f7a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: 0px 3px 10px 2px #888888; */
}

.Logo {
    width: 80%;
    height: 80%;
}

.Hamburguer {
    display: none;
    font-size: 2em; 
    color: white;
    outline:none;
}

@media (max-width: 1055px) {
    .Toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
        /* box-shadow: 0px 3px 10px 2px #888888; */
    }

    .Logo {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 815px) {
    .Logo {
        width: 50%;
        height: 50%;
    }

    .ItemContainer {
        display: none;
    }

    .Hamburguer {
        display: block;
    }
}