.About {
    height: 70vh;
    background-color: #4B2C1A;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.TextDescription {
    width: 40%;
}

.TextDescription p {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.ImageDescription {
    width: 40%;
    height: 75%;
}