.Home {
    /* margin-top: 56px; */
    /* height: 200vh; */
    width: 100%;
    background-color: #B89F7A;
    box-sizing: border-box;
}

.BackgroundImage {
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-image: url("../../assets/images/backgroundImage.jpg");
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 200px;
}

.TextIntro {
    width: 50%;
}

.TextIntro p {
    color: white;
    font-size: 28px;
}

@media (max-width: 815px) {
    .BackgroundImage {
        padding-top: 20px;
    }

    .TextIntro p {
        font-size: 20px;
    }
}