.ModalClosed {
    display: none;
}

.ModalContainer {
    width: 100%;
    height: 80%;
}

.ModalHeader {
    height: 15%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background-color: #745f3e;
}

.ModalTitle {
    font-size: 2em;
}

.ModalExitIcon {
    font-size: 2em; 
    color: white;
}

.ModalExitIcon:hover {
    cursor: pointer;
    color: rgba(0,0,0, 0.4);
}

.ModalContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Description {
    width: 50%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 8px;
}

.Gallery {
    width: 51%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.GalleryImage {
    background-size: cover;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 8px;
}